Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

Add placeholder for library frameworks
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
Due: prettier --write

Remove placeholder as it equals the description
  .github/ISSUE_TEMPLATE/request_rule_change.yml
Due: prettier --write

Use existing rule as placeholder
  .github/ISSUE_TEMPLATE/request_rule_change.yml
Due: prettier --write

Capitalize framework names
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
Due: prettier --write

Improve placeholder text
  .github/ISSUE_TEMPLATE/request_general_change.yml
Due: prettier --write

Add link to discussions on GitHub
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore: create propose new rule form (#433)
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
Due: prettier --write

Put ESLint redirect back in
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore: create request rule change form (#434)
  .github/ISSUE_TEMPLATE/request_rule_change.yml
Due: prettier --write

chore: create request general change form (#435)
  .github/ISSUE_TEMPLATE/request_general_change.yml
Due: prettier --write

chore: configure GitHub template chooser (#432)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

build(deps-dev): upgrade husky to v7
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
Due: prettier --write

build(deps-dev): skip husky on CI
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(deps-dev): bump lint-staged
  package.json
Due: prettier --write

refactor: remove --no-install flag from husky hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(deps-dev): upgrade husky and lint-staged (#446)
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
Due: prettier --write

feat: report presence matchers
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: split two functions
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: split big if statement
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: improve variable names
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Add example in docs
  docs/rules/prefer-find-by.md
Due: prettier --write

refactor: remove redundant comments
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: Add an option to remove the matching of findBy queries by the prefer-explicit-assert rule
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-explicit-assert): add an option to toggle the matching of findBy queries (#452)
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

build: disable husky in release job
  .github/workflows/pipeline.yml
Due: prettier --write

build: revert disable husky in release job
  .github/workflows/pipeline.yml
Due: prettier --write

chore: prevent husky to get installed in CI
  package.json
Due: prettier --write

Refactor else if -> if
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test case with an allowed assertion
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore(devDeps): update dependencies
  package.json
Due: prettier --write

docs: add troubleshooting to contact links
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore(devDeps): update dependencies (#456)
  package.json
Due: prettier --write

docs: add troubleshooting to contact links (#453)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore(devDeps): make `ts-jest`'s version exact
  package.json
Due: prettier --write

chore(devDeps): make `ts-jest`'s version exact (#458)
  package.json
Due: prettier --write

feat(prefer-find-by): report presence assertions (#450)
  docs/rules/prefer-find-by.md
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update dependencies
  package.json
Due: prettier --write

fix(dependencies): bump @typescript-eslint/experimental-utils (#461)
  package.json
Due: prettier --write

chore: bump supported node version
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write
