Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: v7 (#901)
  .eslintrc.js
  .github/workflows/verifications.yml
  README.md
  docs/migration-guides/v7.md
  lib/configs/index.ts
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/index.ts
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  lib/rules/index.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-query-by-disappearance.ts
  lib/utils/compat.ts
  lib/utils/file-import.ts
  lib/utils/types.ts
  lint-staged.config.js
  package-lock.json
  package.json
  tests/eslint-remote-tester.config.js
  tests/index.test.ts
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  13645b786d996832c0a6074ba40f499ed380ed4b
Due: none

chore: set pnpm as package manager
  package.json
Due: prettier --write

chore: import dependencies from npm lockfile
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

chore: run scripts with pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: ignore lockfiles other than pnpm
  .gitignore
Due: none

chore: remove gitpod config file
  .gitpod.yml
Due: prettier --write

chore: replace npm comments with pnpm
  CONTRIBUTING.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: run commands with pnpm
  .github/workflows/release.yml
  .github/workflows/smoke-test.yml
  .github/workflows/verifications.yml
Due: prettier --write

chore: avoid passing extra "--" to pnpm scripts
  .prettierignore
  package.json
Due: prettier --write

chore: save prettier exact version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  lib/node-utils/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(config): update deprecated config type
  index.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(config): implement svelte config
  lib/configs/svelte.ts
  lib/rules/await-async-events.ts
  lib/rules/await-async-queries.ts
  lib/rules/await-async-utils.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-await-sync-queries.ts
  lib/rules/no-container.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-global-regexp-flag-in-query.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-node-access.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/no-unnecessary-act.ts
  lib/rules/no-wait-for-multiple-assertions.ts
  lib/rules/no-wait-for-side-effects.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-find-by.ts
  lib/rules/prefer-implicit-assert.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-query-by-disappearance.ts
  lib/rules/prefer-query-matchers.ts
  lib/rules/prefer-screen-queries.ts
  lib/rules/prefer-user-event.ts
  lib/rules/render-result-naming-convention.ts
  lib/utils/types.ts
  tests/fake-rule.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(docs): generate-all for svelte
  .eslint-doc-generatorrc.js
  README.md
  docs/rules/await-async-events.md
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  docs/rules/no-await-sync-queries.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-lifecycle.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-screen-queries.md
  docs/rules/render-result-naming-convention.md
  index.d.ts
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  fc118c72e5a853b00585b327ac6488c7ed84f39b
Due: none

fix(README): add Svelte badge
  README.md
Due: prettier --write

docs(README): add Svelte badge (#975)
  README.md
Due: prettier --write

fix: use valid config type for supporting both ESLint v8 and v9
  index.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: use valid config type for supporting both ESLint v8 and v9 (#976)
  index.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  d8e44b2c4b922f1feff5708d34e8a0a39938ee38
Due: none

chore: fix commitlint local setup
  .npmrc
Due: none

chore: fix commitlint local setup (#977)
  .npmrc
Due: none

[react] Disable `testing-library/no-await-sync-events` by default
  README.md
  docs/rules/no-await-sync-events.md
  lib/configs/react.ts
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: fix example in prefer-screen-queries.md
  docs/rules/prefer-screen-queries.md
Due: prettier --write

fix: correct typo
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write

docs(rules/no-wait-for-multiple-assertions): fix typo (#1001)
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write

docs: fix example in prefer-screen-queries.md (#995)
  docs/rules/prefer-screen-queries.md
Due: prettier --write

feat: add `no-test-id-queries` rule
  README.md
  docs/rules/no-test-id-queries.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/svelte.ts
  lib/configs/vue.ts
  lib/rules/no-test-id-queries.ts
  tests/lib/rules/no-test-id-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: fix tests
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: cr changes
  docs/rules/no-test-id-queries.md
  lib/rules/no-test-id-queries.ts
  tests/lib/rules/no-test-id-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: generate
  README.md
  docs/rules/no-test-id-queries.md
Due: prettier --write

fix: remove from recommended config
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/svelte.ts
  lib/configs/vue.ts
  lib/rules/no-test-id-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: remove from recommended configs
  README.md
  docs/rules/no-test-id-queries.md
Due: prettier --write

feat: add `no-test-id-queries` rule (#1006)
  README.md
  docs/rules/no-test-id-queries.md
  lib/rules/no-test-id-queries.ts
  tests/index.test.ts
  tests/lib/rules/no-test-id-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  abe42cd90e34c992273e8a1cc72be9bbfc746937
Due: none

fix: `no-wait-for-side-effects` doesn't detect await expression
  lib/node-utils/index.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: `await-async-queries` has false positive with optional chaining
  lib/node-utils/index.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: change test case
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test case
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
