Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

fix: issue-509 show wait-fire-event correctly
  lib/rules/await-fire-event.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: fixed fireEventWrapper message variable and test
  lib/rules/await-fire-event.ts
  tests/lib/rules/await-fire-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-fire-event): reference correct method names in reported messages (#591)
  lib/rules/await-fire-event.ts
  tests/lib/rules/await-fire-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(README): update code snippets
  README.md
Due: prettier --write

docs(README): remove prefix from Name column
  README.md
  tools/generate-rules-list/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(README): improve readability (#596)
  README.md
  tools/generate-rules-list/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(prefer-presence-queries): add a note to discourage usage of options
  docs/rules/prefer-presence-queries.md
Due: prettier --write

docs(prefer-presence-queries): add a note to discourage usage of options (#601)
  docs/rules/prefer-presence-queries.md
Due: prettier --write

docs: fix ESLint logo url
  README.md
Due: prettier --write

docs: fix ESLint logo (#608)
  README.md
Due: prettier --write

feat(no-node-access): add `allowContainerFirstChild` option
  docs/rules/no-node-access.md
  lib/rules/no-node-access.ts
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Support jest-extended toResolve and toReject as handling promises
  lib/node-utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

add test cases for toResolve and toReject matchers
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-query): support handling promises with jest-extendeds toResolve and toRejects
  lib/node-utils/index.ts
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(await-async-query): add docs for toResolve/toReject
  docs/rules/await-async-query.md
Due: prettier --write

feat(no-node-access): add `allowContainerFirstChild` option (#611)
  docs/rules/no-node-access.md
  lib/rules/no-node-access.ts
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: set node version in nvmrc
  .github/workflows/pipeline.yml
  .github/workflows/smoke-test.yml
  .nvmrc
Due: prettier --write

docs: add node section to maintainers
  MAINTAINERS.md
Due: prettier --write

chore: add missing config for pnpm
  .npmrc
Due: none

chore: several node improvements (#632)
  .github/workflows/pipeline.yml
  .github/workflows/smoke-test.yml
  .npmrc
  .nvmrc
  MAINTAINERS.md
Due: prettier --write

Add jest-extended docs
  docs/rules/await-async-utils.md
Due: prettier --write

fireEvent.blur(getByLabelText('username'))
  docs/rules/await-fire-event.md
Due: prettier --write

refactor: move lint-staged config to a js file
  .lintstagedrc
  lint-staged.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: prefer-query-by-disappearance error location
  lib/rules/prefer-query-by-disappearance.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: review feedback
  lib/rules/prefer-query-by-disappearance.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix (`prefer-query-by-disappearance`): error line and column to the beginning of queries (#639)
  lib/rules/prefer-query-by-disappearance.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: no-await-sync-events false positive
  lib/rules/no-await-sync-events.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-await-sync-events): false positive for delay from vars (#641)
  lib/rules/no-await-sync-events.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: consistent-data-testid crashing when square brackets are in filename
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(consistent-data-testid): avoid crash for filename with square brackets (#643)
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: no-wait-for-side-effects false positive inside .then()
  docs/rules/no-wait-for-side-effects.md
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: review feedback
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: review feedback
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: review feedback
  docs/rules/no-wait-for-side-effects.md
Due: prettier --write

fix(no-wait-for-side-effects): false positive inside `.then()` (#645)
  docs/rules/no-wait-for-side-effects.md
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove prefer-wait-for
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
  README.md
  docs/rules/prefer-wait-for.md
  lib/rules/prefer-wait-for.ts
  tests/index.test.ts
  tests/lib/rules/prefer-wait-for.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
