Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(fixer): remove space from replaced text in fixer
  lib/rules/no-await-sync-queries.ts
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/no-await-sync-queries.md
Due: prettier --write

test: add a test for the await(...) case
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Update lib/rules/await-async-queries.ts
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: drop Node 12, 14 & 16 support (#898)
  .github/workflows/verifications.yml
  README.md
  docs/migration-guides/v7.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  022734347cf28dd80338c1168518c4f3a85c86d5
Due: none

feat: drop ESLint v7 support
  .github/workflows/verifications.yml
  docs/migration-guides/v7.md
  package-lock.json
  package.json
Due: prettier --write

feat: drop ESLint v7 support (#944)
  .github/workflows/verifications.yml
  docs/migration-guides/v7.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33bde4fd40450c47f2e038f0f16dbe92ead8ca29
Due: none

feat(deps): update to `@typescript-eslint/*` v6
  .eslintrc.js
  lib/configs/index.ts
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/index.ts
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/utils/compat.ts
  lib/utils/types.ts
  package-lock.json
  package.json
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(deps): update to `@typescript-eslint/*` v6 (#945)
  .eslintrc.js
  lib/configs/index.ts
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/index.ts
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/utils/compat.ts
  lib/utils/types.ts
  package-lock.json
  package.json
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  f07ee6431e99411358ed28767b66b608c600e6c3
Due: none

feat(deps): update to `@typescript-eslint/*` v7
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/prefer-query-by-disappearance.ts
  lib/utils/types.ts
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(deps): update to `@typescript-eslint/*` v7 (#947)
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/prefer-query-by-disappearance.ts
  lib/utils/types.ts
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  330881f33216d5b65534573e2f94c026b291423c
Due: none

feat(deps-dev): update `eslint-plugin-jest`
  package-lock.json
  package.json
Due: prettier --write

add `ByA11yState` to `ALL_QUERIES_METHODS` const
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(deps-dev): update `eslint-plugin-jest` (#954)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  61bb2ea5e1828ef1d5e71ea6f0c65d7bc1272013
Due: none

feat(prefer-user-event): add support for React Native events
  docs/rules/prefer-user-event.md
  lib/rules/prefer-user-event.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-user-event): fix typo
  docs/rules/prefer-user-event.md
  lib/rules/prefer-user-event.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: use Node 22 for main tests
  .nvmrc
Due: none

feat(deps): update to `@typescript-eslint/*` v8
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/index.ts
  lib/node-utils/index.ts
  lib/rules/index.ts
  lib/rules/no-manual-cleanup.ts
  lib/utils/file-import.ts
  lib/utils/types.ts
  lint-staged.config.js
  package-lock.json
  package.json
  tests/eslint-remote-tester.config.js
  tests/index.test.ts
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: use Node 22 for main tests (#960)
  .nvmrc
Due: none

feat(deps): update to `@typescript-eslint/*` v8 (#955)
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/index.ts
  lib/node-utils/index.ts
  lib/rules/index.ts
  lib/rules/no-manual-cleanup.ts
  lib/utils/file-import.ts
  lib/utils/types.ts
  lint-staged.config.js
  package-lock.json
  package.json
  tests/eslint-remote-tester.config.js
  tests/index.test.ts
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  e015071a6c591991ae040850fe7f2dc8260799fc
Due: none

feat: add TypeScript types
  index.d.ts
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add TypeScript types (#963)
  index.d.ts
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  041dc1bb50abb851cdbdc5b0cf744078d5a6ebb8
Due: none

feat: cleanup main types
  index.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: run tests for Node v23
  .github/workflows/verifications.yml
Due: prettier --write

docs: update migration guide
  docs/migration-guides/v7.md
Due: prettier --write

chore: bump min npm version to v9.8.1
  package.json
Due: prettier --write

chore: regenerate lock
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
