Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): remove unnecessary checks
  lib/rules/prefer-implicit-assert.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): adding new rule (#815)
  README.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-implicit-assert.md
  lib/rules/prefer-implicit-assert.ts
  tests/index.test.ts
  tests/lib/rules/prefer-implicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  56a19006035530f20d41091c666b117ca216c1bf
Due: none

docs: typo in v6 migration guide
  docs/migration-guides/v6.md
Due: prettier --write

docs: typo in v6 migration guide (#827)
  docs/migration-guides/v6.md
Due: prettier --write

fix(prefer-implicit-assert): typos in docs
  docs/rules/prefer-implicit-assert.md
Due: prettier --write

docs(prefer-implicit-assert): typos in docs (#829)
  docs/rules/prefer-implicit-assert.md
Due: prettier --write

fix(await-async-events): sync userEvent.setup() should not be reported
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: handle multiple imports with `no-manual-cleanup`
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): non-async userEvent.setup() should not be invalid
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: handle multiple imports with `no-manual-cleanup` (#835)
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  cb84da25f60f1fbfae018e7dd803a353252292fc
Due: none

fix(await-async-events): avoid reporting `userEvent.setup()` in wrappers (#834)
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9709343fed685a983ab12cffae68f24ecd48164f
Due: none

Update `testing-library/prefer-presence-queries` rule to support custom react-native matcher `toBeOnTheScreen`s
  lib/utils/index.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-presence-queries): support react-native matcher `toBeOnTheScreen` (#844)
  lib/utils/index.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  b9fef5991291fbd78f81a2a69f06007ff6ce6498
Due: none

docs: Update eslint pattern matching
  README.md
Due: prettier --write

chore: remove `eslint-config-kentcdodds`
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: upgrade TypeScript
  lib/rules/no-await-sync-events.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore!: drop support of unmaintained Node.js versions
  .github/workflows/pipeline.yml
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade `@typescript-eslint`
  .eslintrc.js
  .prettierignore
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/node-utils/index.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/no-wait-for-side-effects.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-implicit-assert.ts
  lib/utils/index.ts
  lib/utils/types.ts
  package-lock.json
  package.json
  tests/fake-rule.ts
  tests/lib/test-utils.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update eslint pattern matching (#851)
  README.md
Due: prettier --write

build(deps-dev): upgrade Jest v28 to v29
  package-lock.json
  package.json
Due: prettier --write

chore: remove unnecessary extensions from `import/resolver`
  .eslintrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: fix failing linter
  package-lock.json
  package.json
Due: prettier --write

docs: Add render to "Suggest using screen while querying" doc [ci-skip]
  docs/rules/prefer-screen-queries.md
Due: prettier --write

Revert "docs: update eslint pattern matching"
  README.md
Due: prettier --write

docs: add missing import (#863)
  docs/rules/prefer-screen-queries.md
Due: prettier --write

docs: revert "update eslint pattern matching" (#865)
  README.md
Due: prettier --write

chore: remove `eslint-config-kentcdodds` (#856)
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: add ci workflow
  .github/workflows/ci.yml
  .github/workflows/verifications.yml
Due: prettier --write

chore: add release workflow
  .github/workflows/release.yml
Due: prettier --write

chore: remove old pipeline workflow
  .github/workflows/pipeline.yml
Due: prettier --write

chore: update verifications references
  .github/workflows/ci.yml
Due: prettier --write

chore: configure merge queues (#867)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
  .github/workflows/verifications.yml
Due: prettier --write

chore(all-contributors): disable skipping ci
  .all-contributorsrc
Due: none

chore(all-contributors): disable skipping ci (#869)
  .all-contributorsrc
Due: none

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
