Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: including testing-library rule prefix in README
  README.md
Due: prettier --write

refactor(no-await-sync-events): migrate to v4 (#302)
  docs/rules/no-await-sync-events.md
  lib/detect-testing-library-utils.ts
  lib/rules/no-await-sync-events.ts
  lib/utils.ts
  tests/create-testing-library-rule.test.ts
  tests/fake-rule.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: cleanup after migrating all rules to v4 (#303)
  .releaserc.json
  README.md
  docs/rules/await-async-query.md
  docs/rules/await-async-utils.md
  docs/rules/await-fire-event.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-query.md
  docs/rules/no-container.md
  docs/rules/no-debug.md
  docs/rules/no-dom-import.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-setup.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-user-event.md
  docs/rules/prefer-wait-for.md
  docs/rules/render-result-naming-convention.md
  jest.config.js
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-utils): reference correct node name
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-find-by): simplify error message
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-await-sync-query): avoid false positive from parent func
  lib/node-utils.ts
  lib/rules/no-await-sync-query.ts
  tests/lib/rules/no-await-sync-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-await-sync-query): increase code coverage up to 100%
  tests/lib/rules/no-await-sync-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-wait-for-multiple-assertions): report assertions
  lib/rules/no-wait-for-multiple-assertions.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-wait-for-multiple-assertions): increase code coverage up to 100%
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-wait-for-side-effects): report on each side effect node
  lib/detect-testing-library-utils.ts
  lib/rules/no-wait-for-multiple-assertions.ts
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-await-sync-query): include extra case for disappearance
  tests/lib/rules/no-await-sync-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: guard against null deepest identifier node
  lib/detect-testing-library-utils.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-container.ts
  lib/rules/no-debug.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/render-result-naming-convention.ts
  tests/lib/rules/no-debug.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: guard against null property identifier node
  lib/detect-testing-library-utils.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-debug.ts
  lib/rules/no-wait-for-empty-callback.ts
  lib/rules/no-wait-for-multiple-assertions.ts
  lib/rules/no-wait-for-side-effects.ts
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: decrease coverage threshold
  jest.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: enable TS strict mode
  lib/detect-testing-library-utils.ts
  lib/node-utils.ts
  lib/rules/await-async-query.ts
  lib/rules/await-async-utils.ts
  lib/rules/await-fire-event.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-await-sync-query.ts
  lib/rules/no-container.ts
  lib/rules/no-debug.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-node-access.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/no-wait-for-empty-callback.ts
  lib/rules/no-wait-for-multiple-assertions.ts
  lib/rules/no-wait-for-side-effects.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-find-by.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-screen-queries.ts
  lib/rules/prefer-user-event.ts
  lib/rules/prefer-wait-for.ts
  lib/rules/render-result-naming-convention.ts
  tests/fake-rule.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: remove closing comment leftover
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: declare test cases typings as expected
  tests/lib/rules/await-async-query.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/await-fire-event.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-await-sync-query.test.ts
  tests/lib/rules/no-manual-cleanup.test.ts
  tests/lib/rules/no-render-in-setup.test.ts
  tests/lib/rules/no-wait-for-empty-callback.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-presence-queries.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
  tests/lib/rules/prefer-wait-for.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: remove wrong boolean check for detection
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-user-event): format list of userEvent methods correctly
  lib/rules/prefer-user-event.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(prefer-user-event): check error data in all invalid cases
  lib/rules/prefer-user-event.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-user-event): format list of userEvent methods correctly (#311)
  lib/rules/prefer-user-event.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: first steps for migrating to v4 guide
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: extract Aggressive Reporting Query info to its own section
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: explain Aggressive Reporting motivation and mechanism
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: describe each aggressive reporting mechanism
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: shared settings
  docs/migrating-to-v4-guide.md
Due: prettier --write

fix: handle require without assignment properly
  lib/detect-testing-library-utils.ts
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: handle another require without assignment properly
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: update rule levels on presets
  lib/index.ts
  tests/__snapshots__/index.test.ts.snap
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: indicate prefer-user-event is not enabled in any preset
  README.md
Due: prettier --write

docs: update info related to Shareable Configs updated
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: fix typo
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: fix more typos
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: replace tho by though
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: fix wrong new lines entered
  docs/migrating-to-v4-guide.md
Due: prettier --write

ci: remove duplicated max-warnings param
  .github/workflows/pipeline.yml
Due: none

fix: second round of bugfixes for v4 (#314)
  README.md
  lib/detect-testing-library-utils.ts
  lib/index.ts
  tests/__snapshots__/index.test.ts.snap
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add guide for migrating to v4 (#312)
  .github/workflows/pipeline.yml
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: update README for v4
  README.md
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: move detailed settings to migratuin guide
  README.md
  docs/migrating-to-v4-guide.md
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  jest --findRelatedTests: any of: *.{js,ts}
