Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: split checks for import matching node name in different methods
  lib/detect-testing-library-utils.ts
  lib/node-utils.ts
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/prefer-wait-for.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(render-result-naming-convention): add extra invalid case for wrapped function
  tests/lib/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Update no-await-sync-events.ts
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(render-result-naming-convention): cover more renamed imports
  lib/detect-testing-library-utils.ts
  tests/lib/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(render-result-naming-convention): refine checks to decide if coming from Testing Library (#282)
  lib/detect-testing-library-utils.ts
  lib/node-utils.ts
  lib/rules/render-result-naming-convention.ts
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/prefer-wait-for.test.ts
  tests/lib/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: schedule github actions updates
  .github/dependabot.yml
Due: none

ci: add github actions release workflow
  .github/workflows/release.yml
Due: none

ci: remove config related to travis
  .travis.yml
  package.json
Due: none

ci: split workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: use action for installing dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: remove lint max warnings
  .github/workflows/ci.yml
Due: none

ci: improve scripts
  package.json
Due: none

ci: remove format check
  .github/workflows/ci.yml
  package.json
Due: none

ci: install dependencies with npm
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: revert - install dependencies with npm
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: install dependencies manually on test step
  .github/workflows/ci.yml
Due: none

ci: set ci env var on install step
  .github/workflows/ci.yml
Due: none

ci: install peer deps in legacy mode
  .github/workflows/ci.yml
Due: none

ci: revert manual deps install
  .github/workflows/ci.yml
Due: none

ci: remove node 15
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: update badge in README.md
  README.md
Due: prettier --write

ci: migrate to GitHub Actions (#286)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .travis.yml
  README.md
  package.json
Due: prettier --write

chore: fix scripts related to testing
  package.json
Due: none

ci: bump checkout action to v2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: merge workflows files into single one
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
Due: none

ci: add a step for canceling previous runs
  .github/workflows/pipeline.yml
Due: none

ci: remove workflow run conditions
  .github/workflows/pipeline.yml
Due: none

ci: rename workflow
  .github/workflows/pipeline.yml
Due: none

ci: github actions improvements (#288)
  .github/workflows/ci.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
  package.json
Due: none

ci: update github actions with v4 CI changes
  .github/workflows/pipeline.yml
Due: none

chore: bump dependencies to last minor
  package.json
Due: none

chore: setting test environment to jest-environment-jsdom v25
  jest.config.js
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: update pipeline with v4 changes (#289)
  .github/dependabot.yml
  .github/workflows/pipeline.yml
  .travis.yml
  README.md
  jest.config.js
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update build badge
  README.md
Due: prettier --write

refactor(prefer-screen-queries): use new rule creator
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(prefer-screen-queries): detect render methods with helper
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(prefer-screen-queries): detect queries with helper
  lib/detect-testing-library-utils.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-screen-queries): detect queries coming from proper render
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update dependencies
  .eslintrc.json
  package.json
Due: none

refactor(prefer-screen-queries): migrate to v4 (#285)
  lib/detect-testing-library-utils.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  jest --findRelatedTests: any of: *.{js,ts}
