Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: generate junit report
  .gitignore
  vitest.config.mts
Due: none

test: improve DX (#1129)
  .github/workflows/ci.yml
  .github/workflows/main-coverage.yml
  .github/workflows/release.yml
  .github/workflows/verifications.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: prettier --write

chore: install tsdown
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove unnecessary index.d.ts
  index.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update build script
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/svelte.ts
  lib/configs/vue.ts
  lib/index.ts
  lib/node-utils/is-node-of-type.ts
  package.json
  pnpm-lock.yaml
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: simplify meta fields
  package.json
Due: prettier --write

chore: update bundle export fields
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: run bundle-check validation
  .github/workflows/verifications.yml
  package.json
Due: prettier --write

chore: bump pnpm version
  package.json
Due: prettier --write

chore: update type to module
  .prettierrc.mjs
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  tools/generate-configs/utils.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: fix js extensions
  .eslint-doc-generatorrc.cjs
  commitlint.config.mjs
  tests/eslint-remote-tester.config.cjs
Due: none

chore: move prettier config file to ESM
  prettier.config.js
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move release config file to ESM
  .releaserc.json
  release.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move commitlint config to ESM
  commitlint.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move eslint config to ESM
  eslint.config.js
  tests/eslint-remote-tester.config.cjs
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move lint-staged config to ESM
  lint-staged.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move eslint-doc-generator config to ESM
  .eslint-doc-generatorrc.cjs
  .eslint-doc-generatorrc.js
  package.json
  pnpm-lock.yaml
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update gen commands
  .github/workflows/verifications.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

refactor(prefer-user-event-setup): reuse isUserEventMethod helper
  lib/rules/prefer-user-event-setup.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(prefer-user-event-setup): reuse isUserEventMethod helper
  lib/rules/prefer-user-event-setup.ts
  lib/utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/prefer-user-event-setup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(prefer-user-event-setup): add line and column to error assertions
  tests/lib/rules/prefer-user-event-setup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(prefer-user-event-setup): add when not to use case
  docs/rules/prefer-user-event-setup.md
Due: prettier --write

feat(prefer-user-event-setup): export rule from index
  lib/rules/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-user-event-setup): add new rule (#1125)
  README.md
  docs/rules/prefer-user-event-setup.md
  lib/rules/index.ts
  lib/rules/prefer-user-event-setup.ts
  lib/utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/prefer-user-event-setup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  03f8736df158c2d46bca749e8453671c6a1be494
Due: none

ci: update smoke-test workflow
  .github/workflows/smoke-test.yml
Due: prettier --write

chore: replace tsx with jiti
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump eslint-remote-tester
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
