Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

chore(eslint-doc-generator): update path
  package.json
Due: prettier --write

chore(jest): replace ts-jest with @swc/jest
  jest.config.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: disable tests failing fast
  .github/workflows/pipeline.yml
Due: prettier --write

ci: use matrix for code validation
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

ci: check if repo is not a fork more generic
  .github/workflows/pipeline.yml
Due: prettier --write

ci: fix typo
  .github/workflows/pipeline.yml
Due: prettier --write

chore(jest): replace `ts-jest` with `@swc/jest` (#798)
  jest.config.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore(semantic-release): change package root (#797)
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a932fed6adfdb9f68f562fa4893502285282393
Due: none

ci: use automation token for publishing to NPM
  .github/workflows/pipeline.yml
Due: prettier --write

Notes added by 'git notes add'
  b006e61dc2d682ea63e379fb3bcf9df8479b1085
Due: none

Revert "ci: check if repo is not a fork more generic"
  .github/workflows/pipeline.yml
Due: prettier --write

feat(no-await-sync-events): disable user-event by default
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(no-await-sync-events): reflect user-event changes
  docs/rules/no-await-sync-events.md
Due: prettier --write

test(no-await-sync-events): update test cases
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore(no-await-sync-events): regenerate presets
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/react.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: use yaml list format
  .github/workflows/pipeline.yml
Due: prettier --write

Revert "ci: use yaml list format"
  .github/workflows/pipeline.yml
Due: prettier --write

ci: main pipeline improvements (#799)
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

chore(no-await-sync-events): revert accepting string option
  docs/rules/no-await-sync-events.md
  lib/rules/no-await-sync-events.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: items typo
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: extract default option
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: pr comments
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-await-sync-events): stop reporting `user-event` by default (#803)
  docs/rules/no-await-sync-events.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/react.ts
  lib/rules/no-await-sync-events.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  88246fca7919b06a00d0564913779db33de4de19
Due: none

feat(prefer-implicit-assert): adding new rule
  README.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-implicit-assert.md
  lib/rules/prefer-implicit-assert.ts
  tests/lib/rules/prefer-implicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): increment number of rules
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): reduce duplication
  lib/rules/prefer-implicit-assert.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): add recommened rule by library, more test cases, update docs
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-implicit-assert.md
  tests/lib/rules/prefer-implicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): non-async userEvent.setup() should not be invalid
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): sync userEvent.setup() should not be reported (#817)
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c0b6e6f11fc4c536ad45c98cb058daef82b58258
Due: none

feat(prefer-implicit-assert): added findBy link
  docs/rules/prefer-implicit-assert.md
Due: prettier --write

feat(prefer-implicit-assert): added line and column checks
  tests/lib/rules/prefer-implicit-assert.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-implicit-assert): use existing utils
  lib/rules/prefer-implicit-assert.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
