Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

Notes added by 'git notes add'
  d428723e5804c4df14fda58a21b9bd8cf5ffef2f
Due: none

feat(rule): disallow calling native DOM event methods on Testing Library query results
  lib/rules/no-node-access.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests for valid cases
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test for resolveToTestingLibraryFn
  tests/lib/utils/resolve-to-testing-library-fn.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-node-access): narrow detection to Testing Library queries (#1064)
  lib/rules/no-node-access.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/utils/resolve-to-testing-library-fn.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  bf4871f17025bc2ffec6421f3267c858c0422ad6
Due: none

test: add valid test cases
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: remove 'only' flag from test case
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-node-access): add false positive case for no-node-access rule (#1073)
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: `catch` handles promise (#1059)
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  lib/node-utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  5e7b9a3420d28e6f8ec362ef47f967a40d529f8e
Due: none

feat: `await-async-*` handles finally
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  lib/node-utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

missing commas
  lib/node-utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add support for handling 'forEach' in async event method detection
  lib/rules/await-async-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test case for handling 'forEach' with userEvent clicks
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: create a fixer
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/await-async-queries.md
Due: prettier --write

test: add tests for the return value cases of render
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update ESLint ecosystem
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update lint-staged config
  lint-staged.config.js
  lint-staged.config.mjs
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: update lint script
  package.json
Due: prettier --write

chore: migrate config to flat format with migrator
  .eslint-doc-generatorrc.js
  .eslintignore
  .eslintrc-DEPRECATED.js
  eslint.config.mjs
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/node-utils/index.ts
  package.json
  pnpm-lock.yaml
  tests/eslint-remote-tester.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: eslint config approach
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tests/lib/test-utils.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: format files
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/node-utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: replace import with import-x
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: report console methods
  eslint.config.mjs
  tools/generate-configs/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: downgrade typescript-eslint range
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove legacy config
  .eslintrc-DEPRECATED.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove unnecessary cli flag
  package.json
Due: prettier --write

Update lib/rules/await-async-queries.ts
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-queries): add auto-fix (#1077)
  README.md
  docs/rules/await-async-queries.md
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  01165d9cd2b94d3fd33768f39660628865d1e306
Due: none

refactor: enable code completion
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add auto-fix
  lib/rules/no-await-sync-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
