Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

fix(await-async-queries): false positive with optional chaining (#1009)
  lib/node-utils/index.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  e9f8f4fa6d381469ccccb3dc4256ce7523e5ee59
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
  .github/ISSUE_TEMPLATE/request_general_change.yml
  .github/ISSUE_TEMPLATE/request_rule_change.yml
Due: prettier --write

chore: update issue templates (#1012)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/propose_new_rule.yml
  .github/ISSUE_TEMPLATE/request_general_change.yml
  .github/ISSUE_TEMPLATE/request_rule_change.yml
Due: prettier --write

fix: redundant condition
  lib/rules/no-wait-for-multiple-assertions.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-wait-for-side-effects): detect await expressions (#1008)
  lib/node-utils/index.ts
  lib/rules/no-wait-for-multiple-assertions.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  e4c0daaabbee97e560f79c5c4a0a4cb67d3d35bd
Due: none

feat: enhance detection of async queries in block statements
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test cases
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: use isFindQueryVariant
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: add comment
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add incorrect case
  docs/rules/prefer-find-by.md
Due: prettier --write

feat(prefer-find-by): handle waitFor wrapping findBy queries (#1013)
  docs/rules/prefer-find-by.md
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  cf02697f6c43fc235450c7c17bbd62b5517c9c19
Due: none

refactor: apply `as const` for stricter type safety on query definitions
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/no-node-access.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: add explicit return type to createTestingLibraryRule for better type safety
  lib/create-testing-library-rule/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: update test case types to use rule-tester types
  tests/lib/rules/consistent-data-testid.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-presence-queries.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: ensure propertyName is defined before checking against ALL_RETURNING_NODES
  lib/rules/no-node-access.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: strengthen type safety (#1015)
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/no-node-access.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/utils/index.ts
  tests/lib/rules/consistent-data-testid.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-presence-queries.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: enhance fixable reporting for presence and absence queries
  lib/rules/prefer-presence-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: update test
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update prefer-presence-queries doc
  README.md
  docs/rules/prefer-presence-queries.md
Due: prettier --write

feat(prefer-presence-queries): add autofix support (#1020)
  README.md
  docs/rules/prefer-presence-queries.md
  lib/rules/prefer-presence-queries.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  4ab50a05941eb597dc64b41f323299b53f6487fc
Due: none

ci: add workflow for coverage on main
  .github/ISSUE_TEMPLATE/main-coverage.yml
Due: prettier --write

refactor: move to the right folder
  .github/ISSUE_TEMPLATE/main-coverage.yml
Due: prettier --write

refactor: move to the right folder
  .github/ISSUE_TEMPLATE/main-coverage.yml
  .github/workflows/main-coverage.yml
Due: prettier --write

ci: add explicit permissions
  .github/workflows/main-coverage.yml
Due: prettier --write

ci: add workflow for coverage on main (#1021)
  .github/workflows/main-coverage.yml
Due: prettier --write

ci: pass codecov token through env vars
  .github/workflows/main-coverage.yml
Due: prettier --write

refactor: update build process and add tsconfig for builds
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

refactor: fix type-check
  tests/index.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove type annotations for waitMethod and queryMethod in test scenarios
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: Include test files in type checking (#1022)
  package.json
  tests/index.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add EVENT_HANDLER_METHODS to no-node-access rule
  lib/rules/no-node-access.ts
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update no-node-access rule details and examples
  docs/rules/no-node-access.md
Due: prettier --write

feat: add EVENTS_SIMULATORS to no-node-access rule for improved validation
  lib/rules/no-node-access.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add valid cases
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
