Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

fix(await-async-events): false positives for userEvent.setup() returned (#895)
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  fb32c5c07dbbd7449b8b1d3983683765912b9e72
Due: none

docs: add migration guide
  docs/migration-guides/v7.md
Due: prettier --write

chore: update Node.js version in .nvmrc
  .nvmrc
Due: none

docs: update README.md
  README.md
Due: prettier --write

chore: update supported engines node versions
  package.json
Due: prettier --write

chore: update Node.js in CI
  .github/workflows/ci.yml
  .github/workflows/verifications.yml
Due: prettier --write

docs: simplify prerequisites
  README.md
Due: prettier --write

chore: drop support for old Node.js versions (#898)
  .github/workflows/ci.yml
  .github/workflows/verifications.yml
  .nvmrc
  README.md
  docs/migration-guides/v7.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e7ecdc4bbb6d6adf1490ce7d40b9ef1188a7825
Due: none

ci: run tests in node v22
  .github/workflows/verifications.yml
Due: prettier --write

chore: export config with plugins var
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/index.ts
  tools/generate-configs/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: assign plugins to configs properly
  lib/index.ts
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: set roots to tests folder
  jest.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: export meta info
  lib/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: main entrypoint
  lib/index.ts
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: use CJS export
  lib/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(contributing): fix broken link
  CONTRIBUTING.md
Due: prettier --write

docs(contributing): fix broken link (#911)
  CONTRIBUTING.md
Due: prettier --write

feat: create a fixer
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: fix promise references
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: fix promise wrappers
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/await-async-queries.md
Due: prettier --write

feat(await-async-utils): add autofix for direct usage
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-utils): add autofix for references
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(await-async-utils): generate docs
  README.md
  docs/rules/await-async-utils.md
Due: prettier --write

feat: refactor loop to map in fixer
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: improve comments readability
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add autofix
  lib/rules/no-await-sync-queries.ts
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/no-await-sync-queries.md
Due: prettier --write

fix: add plugin name and version metadata for ESLint v9
  lib/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: enable `eslint-plugin-prettier`
  .eslintrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: correct types
  tools/generate-configs/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: don't "import" `package.json`
  lib/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add support for flat config
  lib/configs/index.ts
  lib/index.ts
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: mention `flat` configs
  README.md
Due: prettier --write

chore: ignore flat configs in docs
  .eslint-doc-generatorrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add support for flat config (#923)
  .eslint-doc-generatorrc.js
  README.md
  lib/configs/index.ts
  lib/index.ts
  tests/index.test.ts
  tools/generate-configs/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  4dc7caa86b880d7b762a5df23f4ec736a548b502
Due: none

fix: introduce utilities for v9 compatability
  lib/utils/compat.ts
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
