Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

fix(deps): bump typescript-eslint to v8.50.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: refine types
  tests/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: schedule typescript-eslint updates quarterly
  .github/renovate.json5
Due: none

fix(deps): bump `typescript-eslint` to v8.50.0 (#1164)
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
  tests/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c23f025277d32b90c879daf85a8b79e5a29eb5c9
Due: none

chore(deps): update typescript-eslint to v8.51.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update return type of createTestingLibraryRule to require name
  src/create-testing-library-rule/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: update rule imports to use rule.name instead of RULE_NAME
  tests/create-testing-library-rule.test.ts
  tests/rules/await-async-events.test.ts
  tests/rules/await-async-queries.test.ts
  tests/rules/await-async-utils.test.ts
  tests/rules/consistent-data-testid.test.ts
  tests/rules/no-await-sync-events.test.ts
  tests/rules/no-await-sync-queries.test.ts
  tests/rules/no-container.test.ts
  tests/rules/no-debugging-utils.test.ts
  tests/rules/no-dom-import.test.ts
  tests/rules/no-global-regexp-flag-in-query.test.ts
  tests/rules/no-manual-cleanup.test.ts
  tests/rules/no-node-access.test.ts
  tests/rules/no-promise-in-fire-event.test.ts
  tests/rules/no-render-in-lifecycle.test.ts
  tests/rules/no-test-id-queries.test.ts
  tests/rules/no-unnecessary-act.test.ts
  tests/rules/no-wait-for-multiple-assertions.test.ts
  tests/rules/no-wait-for-side-effects.test.ts
  tests/rules/no-wait-for-snapshot.test.ts
  tests/rules/prefer-explicit-assert.test.ts
  tests/rules/prefer-find-by.test.ts
  tests/rules/prefer-implicit-assert.test.ts
  tests/rules/prefer-presence-queries.test.ts
  tests/rules/prefer-query-by-disappearance.test.ts
  tests/rules/prefer-query-matchers.test.ts
  tests/rules/prefer-screen-queries.test.ts
  tests/rules/prefer-user-event-setup.test.ts
  tests/rules/prefer-user-event.test.ts
  tests/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove export of RULE_NAME
  src/rules/await-async-events.ts
  src/rules/await-async-queries.ts
  src/rules/await-async-utils.ts
  src/rules/consistent-data-testid.ts
  src/rules/no-await-sync-events.ts
  src/rules/no-await-sync-queries.ts
  src/rules/no-container.ts
  src/rules/no-debugging-utils.ts
  src/rules/no-dom-import.ts
  src/rules/no-global-regexp-flag-in-query.ts
  src/rules/no-manual-cleanup.ts
  src/rules/no-node-access.ts
  src/rules/no-promise-in-fire-event.ts
  src/rules/no-render-in-lifecycle.ts
  src/rules/no-test-id-queries.ts
  src/rules/no-unnecessary-act.ts
  src/rules/no-wait-for-multiple-assertions.ts
  src/rules/no-wait-for-side-effects.ts
  src/rules/no-wait-for-snapshot.ts
  src/rules/prefer-explicit-assert.ts
  src/rules/prefer-find-by.ts
  src/rules/prefer-implicit-assert.ts
  src/rules/prefer-presence-queries.ts
  src/rules/prefer-query-by-disappearance.ts
  src/rules/prefer-query-matchers.ts
  src/rules/prefer-screen-queries.ts
  src/rules/prefer-user-event-setup.ts
  src/rules/prefer-user-event.ts
  src/rules/render-result-naming-convention.ts
  tests/fake-rule.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  b8ef3772487a32c886cb5c338da2a144560a437b
Due: none

chore: update eslint-doc-generator config for v2
  .eslint-doc-generatorrc.js
  README.md
  docs/rules/await-async-events.md
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-queries.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-lifecycle.md
  docs/rules/no-test-id-queries.md
  docs/rules/no-unnecessary-act.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-implicit-assert.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-query-matchers.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-user-event-setup.md
  docs/rules/prefer-user-event.md
  docs/rules/render-result-naming-convention.md
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

wip
  .eslint-doc-generatorrc.js
  README.md
  docs/rules/await-async-events.md
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-queries.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-lifecycle.md
  docs/rules/no-unnecessary-act.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-screen-queries.md
  docs/rules/render-result-naming-convention.md
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

wip
  .eslint-doc-generatorrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update `eslint-doc-generator` config for v3 (#1181)
  .eslint-doc-generatorrc.js
  README.md
  docs/rules/await-async-events.md
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-queries.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-lifecycle.md
  docs/rules/no-test-id-queries.md
  docs/rules/no-unnecessary-act.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-implicit-assert.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-query-matchers.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-user-event-setup.md
  docs/rules/prefer-user-event.md
  docs/rules/render-result-naming-convention.md
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: migrate pnpm config to pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: run scripts in parallel with run-p
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "chore: run scripts in parallel with run-p"
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove parallel flag
  package.json
Due: prettier --write

chore: migrate pnpm config to pnpm-workspace.yaml (#1182)
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

feat: support ESLint v10
  .github/workflows/verifications.yml
  package.json
Due: prettier --write

chore: update `@typescript-eslint` dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: support ESLint v10 (#1211)
  .github/workflows/verifications.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  af31739e0c47ba053154c4210f68fe922af39759
Due: none

fix: prevent duplicate errors for chained property access
  src/rules/no-node-access.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test
  tests/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-node-access): prevent duplicate errors for chained property access (#1260)
  src/rules/no-node-access.ts
  tests/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  74ce9ddea4c37ed2e9bb0ca0a7a9ef0edb3c9d97
Due: none

fix: detect userEvent helpers from custom module set via utils-module
  src/create-testing-library-rule/detect-testing-library-utils.ts
  tests/rules/await-async-events.test.ts
  tests/rules/no-await-sync-events.test.ts
  tests/rules/no-unnecessary-act.test.ts
  tests/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add coverage for userEvent custom module detection
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  8ef07828e2c1ba7061f0aefcf6e92e22ac4b0707
Due: none

feat: support `shadow-dom-testing-library`
  src/utils/index.ts
  tests/rules/await-async-queries.test.ts
  tests/rules/await-async-utils.test.ts
  tests/rules/no-container.test.ts
  tests/rules/no-debugging-utils.test.ts
  tests/rules/no-node-access.test.ts
  tests/rules/no-render-in-lifecycle.test.ts
  tests/rules/no-test-id-queries.test.ts
  tests/rules/prefer-find-by.test.ts
  tests/rules/prefer-query-by-disappearance.test.ts
  tests/rules/prefer-screen-queries.test.ts
  tests/utils/is-testing-library-module.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: no-test-id
  src/rules/no-test-id-queries.ts
  tests/rules/no-test-id-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: uncomment for await-async-utils test
  tests/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: introduce new rule to allow eslint to pick up on potential ghost testing
  README.md
  docs/rules/no-unsettled-absence-query.md
  src/rules/index.ts
  src/rules/no-unsettled-absence-query.ts
  tests/rules/no-unsettled-absence-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add missing test coverage
  docs/rules/no-unsettled-absence-query.md
  src/rules/no-unsettled-absence-query.ts
  tests/rules/no-unsettled-absence-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add line and column values (req)
  tests/rules/no-unsettled-absence-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: malformed HTML comment in the docs md file
  docs/rules/no-unsettled-absence-query.md
Due: prettier --write

chore: refactor tree-walking to respect function scope boundaries
  src/rules/no-unsettled-absence-query.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
