Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: uncomment code
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: add a comment explaining why slice starts from index 1
  lib/rules/no-wait-for-multiple-assertions.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove unnecessary logic
  lib/rules/no-wait-for-multiple-assertions.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update sample code
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write

docs: update doc
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write

feat(no-wait-for-multiple-assertions): avoid reporting unrelated assertions (#1097)
  docs/rules/no-wait-for-multiple-assertions.md
  lib/rules/no-wait-for-multiple-assertions.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  db8756c9ae9533c6681217ae08db1b214fdfd7c4
Due: none

feat: create a fixer
  lib/rules/no-wait-for-multiple-assertions.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: update tests
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write

feat(no-wait-for-multiple-assertions): add auto-fix (#1099)
  README.md
  docs/rules/no-wait-for-multiple-assertions.md
  lib/rules/no-wait-for-multiple-assertions.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c9fcf833f990e5ea67758b736344eafcb4e11ab5
Due: none

chore: rely on jest padding rule without formatting plugin
  eslint.config.mjs
Due: none

chore: remove eslint-plugin-jest-formatting
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: fix lint error
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove eslint-plugin-jest-formatting (#1100)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: support aliased screen imports
  lib/rules/prefer-screen-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add test
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-screen-queries): support aliased screen imports (#1101)
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  af8c8d9e0d554a1b0f7dcd8e52e78d5e3cbd2232
Due: none

chore: replace jest with vitest
  jest.config.js
  package.json
  pnpm-lock.yaml
  tests/index.test.ts
  tests/lib/utils/is-testing-library-module.test.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update ESLint config
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: support userEvent setup instances
  lib/rules/no-unnecessary-act.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/no-unnecessary-act.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: add comment
  tests/lib/rules/no-unnecessary-act.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-unnecessary-act): report userEvent with a different variable name (#1103)
  lib/rules/no-unnecessary-act.ts
  tests/lib/rules/no-unnecessary-act.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  164fa0ea6d8ff809c4986f688eaba5f6c2319eb2
Due: none

feat: add isChainExpression
  lib/node-utils/is-node-of-type.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: support ChainExpression
  lib/node-utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-unnecessary-act): handle optional chaining calls (#1104)
  lib/node-utils/index.ts
  lib/node-utils/is-node-of-type.ts
  tests/lib/rules/no-unnecessary-act.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  a5f66c2555e77a6b02e378c1dd26b91903302e19
Due: none

add react-native library module
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace waitFor screen presence with await findBy
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update release workflow
  .github/workflows/release.yml
Due: prettier --write

chore: set up npm trusted publishing (#1108)
  .github/workflows/release.yml
Due: prettier --write

chore: bump semantic release to v25.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump semantic release to v25.0.1 (#1110)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(prefer-find-by): ensure autofix keeps assertion (#1107)
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
