Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: avoid reporting react-test-renderer utils as custom queries
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

style: revert README changes
  README.md
Due: prettier --write

style: revert more README changes
  README.md
Due: prettier --write

style: indent img correctly
  README.md
Due: prettier --write

refactor: rename generate scripts
  .github/workflows/pipeline.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore: enable pre and post scripts for pnpm
  .npmrc
Due: none

chore: remove stale dist before building
  package.json
Due: prettier --write

chore(dev-deps): update eslint-remote-tester-repositories
  package.json
Due: prettier --write

ci: fix smoke test's npm setup
  .github/workflows/smoke-test.yml
Due: prettier --write

refactor: remove remaining support for old async utils (#706)
  README.md
  docs/migration-guides/v6.md
  docs/rules/await-async-utils.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-find-by.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/no-wait-for-empty-callback.ts
  lib/rules/prefer-find-by.ts
  lib/utils/index.ts
  tests/index.test.ts
  tests/lib/rules/no-wait-for-empty-callback.test.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: fix smoke test's npm setup (#714)
  .github/workflows/smoke-test.yml
  package.json
Due: prettier --write

chore: minor improvements (#708)
  .eslint-doc-generatorrc.js
  .github/workflows/pipeline.yml
  .npmrc
  CONTRIBUTING.md
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

tests: add tests for Node 17 and 19 (#707)
  .github/workflows/pipeline.yml
Due: prettier --write

fix: ignore getBy inside of within for prefer-presence-queries on absence queries
  lib/rules/prefer-presence-queries.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(consistent-data-testid): add support for custom message in the rule configuration
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(consistent-data-testid): update docs
  docs/rules/consistent-data-testid.md
Due: prettier --write

feat(consistent-data-testid): use undefined as default value for customMessage
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(consistent-data-testid): add comment to test case
  tests/lib/rules/consistent-data-testid.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(consistent-data-testid): add support for custom error message (#719)
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  79b380fb459fe1f4638d46bc692a375cfc5fa937
Due: none

fix(await-async-utils): false positives related to destructuring
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(await-async-utils): move if conditions and reduce custom functions
  lib/rules/await-async-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(await-async-utils): add test case and rename test cases
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(await-async-utils): move condition out to a variable
  lib/rules/await-async-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(await-async-utils): add comment
  lib/rules/await-async-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-util): return if node is object pattern when visiting variable declarator nodes
  lib/rules/await-async-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-utils): remove duplicate test case
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: fix new linting errors reported
  lib/configs/index.ts
  lib/utils/types.ts
  tests/lib/rules/consistent-data-testid.test.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: fix new linting errors reported (#723)
  lib/configs/index.ts
  lib/utils/types.ts
  tests/lib/rules/consistent-data-testid.test.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove option to avoid lock file
  .npmrc
Due: none

chore: create pnpm lock file
  pnpm-lock.yaml
Due: none

chore: set pnpm as the package manager
  package.json
Due: prettier --write

chore: update contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore: update generate scripts
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: use pnpm in GitHub workflows
  .github/workflows/pipeline.yml
  .github/workflows/smoke-test.yml
Due: prettier --write

chore: stop ignoring lock files
  .gitignore
Due: none

chore: stop ignoring npm lock file
  .gitignore
Due: none

chore: generate package lock file
  .npmrc
  package-lock.json
Due: prettier --write

chore: generate package-lock.json
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
