Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.md": ["prettier --write"]
}

test: add fake rule cases for custom-queries setting
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: first approach for custom-queries setting
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: rework query helpers
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(await-async-query): add extra cases for custom-queries setting
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-await-sync-query): add extra cases for custom-queries setting
  tests/lib/rules/no-await-sync-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(prefer-screen-queries): add extra cases for custom-queries setting
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add custom-queries setting to migrating guide
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: add custom-queries setting to README
  README.md
Due: prettier --write

docs: fix incorrect closing quote
  README.md
Due: prettier --write

docs: include custom-queries more details link
  README.md
Due: prettier --write

feat: add off option to all shared settings
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: check if aggressive reporting mechanisms are enabled correctly
  lib/detect-testing-library-utils.ts
  tests/create-testing-library-rule.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add extra cases for switching settings off here and there
  tests/lib/rules/await-async-query.test.ts
  tests/lib/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update migration guide with option to switch mechanisms off
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: update README with option to switch mechanisms off
  README.md
Due: prettier --write

docs: grammar suggestions
  README.md
  docs/migrating-to-v4-guide.md
Due: prettier --write

feat: new Aggressive Reporting settings (#344)
  README.md
  docs/migrating-to-v4-guide.md
  lib/detect-testing-library-utils.ts
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/await-async-query.test.ts
  tests/lib/rules/no-await-sync-query.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/render-result-naming-convention.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(detectTestingLibraryUtils): simplify isRenderUtil function
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: simplify isRenderUtil function (#330)
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add extra tests (#332)
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: automatically generate all rules
  lib/index.ts
  lib/rules/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: allow console.debug() in no-debug
  lib/rules/no-debug.ts
  tests/lib/rules/no-debug.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: automatically generate all rules (#346)
  lib/index.ts
  lib/rules/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: check for built-in console in isDebugUtil
  lib/detect-testing-library-utils.ts
  lib/rules/no-debug.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: support destructuring from console object
  lib/rules/no-debug.ts
  tests/lib/rules/no-debug.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: no-debug check correctly for declared variable
  lib/detect-testing-library-utils.ts
  lib/rules/no-debug.ts
  tests/lib/rules/no-debug.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: simplify code
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-debug): allow console.debug() (#349)
  lib/detect-testing-library-utils.ts
  lib/rules/no-debug.ts
  tests/lib/rules/no-debug.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-wait-for-side-effects): yield error with implicit arrow return
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: simplify functions
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: call a function
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: consist return type
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: isCallerWaitFor function
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add new badges to README
  README.md
Due: prettier --write

docs: add new badges to README (#353)
  README.md
Due: prettier --write

test: add more cases
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-wait-for-side-effects): report implicit return in arrow functions (#352)
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: prettify codebase
  .github/workflows/pipeline.yml
  .lintstagedrc
Due: none

Update package.json
  package.json
Due: none

Update .lintstagedrc
  .lintstagedrc
Due: none
