Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

chore: set the right npm version in engines field
  package.json
Due: prettier --write

chore: run pipeline on all-contributors branches
  .github/workflows/pipeline.yml
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

chore: regenerate lock
  package-lock.json
Due: prettier --write

chore: pin dependencies with lockfile (#729)
  .github/workflows/pipeline.yml
  .gitignore
  .npmrc
  package-lock.json
Due: prettier --write

feat: add toBeVisible as a presence query
  lib/utils/index.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(await-async-utils): map through ASYNC_UTILS in the test cases
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-utils): false positive when destructuring (#722)
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  34a0a558d45c973f876a50139142d41aa25344c1
Due: none

fix(await-async-util): false positives due to empty strings in function wrapper names
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-util): false positives due to empty strings (#733)
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c2b8515a0b5c57c115f1927aa2ef4fc63bc4a4b9
Due: none

fix: ignore getBy inside of within for prefer-presence-queries on absence queries
  lib/rules/prefer-presence-queries.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore(devDeps): update dependencies to latest minor
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/prefer-user-event.ts
  lib/utils/types.ts
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: use JS `.eslintrc` file
  README.md
  docs/migration-guides/v4.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-user-event.md
Due: prettier --write

fix(deps): update dependencies to latest minor (#753)
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/no-await-sync-events.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/prefer-user-event.ts
  lib/utils/types.ts
  package-lock.json
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9dbd96631cd08b893ad01e3dbecaeae63c06228f
Due: none

chore: remove `styfle/cancel-workflow-action` usage
  .github/workflows/pipeline.yml
Due: prettier --write

chore: remove `styfle/cancel-workflow-action` usage (#757)
  .github/workflows/pipeline.yml
Due: prettier --write

docs: use JS `.eslintrc` file (#754)
  README.md
  docs/migration-guides/v4.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-user-event.md
Due: prettier --write

test: cover prefer-query-matchers with test
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: failing test
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: do not include prefer-query-matchers by default
  lib/rules/prefer-query-matchers.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: comment out test names
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add prefer-query-matchers rule
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/prefer-query-matchers.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: set default options to no configured entries to check for
  lib/rules/prefer-query-matchers.ts
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add query doc and supported rules table entry
  README.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-matchers.md
Due: prettier --write

style: prettify rule file
  lib/rules/prefer-query-matchers.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: make generated tests more realistic AST
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: add `prefer-query-matchers` rule (#750)
  README.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-matchers.md
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/prefer-query-matchers.ts
  tests/index.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  31516ad868c88ef40af54cfc32dc21a5f59315b5
Due: none

docs: get missing contributor back
  .all-contributorsrc
Due: none

docs: within treatment in prefer-presence-queries
  docs/rules/prefer-presence-queries.md
Due: prettier --write

fix(prefer-presence-queries): ignore `getBy*` inside `within` for on absence queries (#740)
  docs/rules/prefer-presence-queries.md
  lib/rules/prefer-presence-queries.ts
  tests/lib/rules/prefer-presence-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  b75dc73158b6ae6b9882ee6ce8e3db1d41248107
Due: none

refactor: adjust changes after merge
  README.md
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

style: format files
  lib/rules/await-async-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  acc2865c9dc9de024f9aa4257d8551f2d77ffd24
Due: none

chore(semantic-release): change package root
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write
