Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

feat(await-async-events): instance of userEvent is recognized as async
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update README badges
  README.md
Due: prettier --write

docs: update README badges (#870)
  README.md
Due: prettier --write

style: format README
  README.md
Due: prettier --write

chore: add codecov step
  .github/workflows/verifications.yml
Due: prettier --write

docs: add codecov badge to README
  README.md
Due: prettier --write

chore: add codecov step (#871)
  .github/workflows/verifications.yml
Due: prettier --write

chore: downgrade TypeScript v5.3 to v5.0
  package-lock.json
  package.json
Due: prettier --write

chore: update `tsconfig.json`
  tsconfig.json
Due: prettier --write

chore: upgrade TypeScript
  lib/rules/no-await-sync-events.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: upgrade TypeScript to v5.0 (#858)
  lib/rules/no-await-sync-events.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: fix ts-expect-error
  lib/rules/no-await-sync-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: increase coverage
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: fix ts-expect-error (#873)
  lib/rules/no-await-sync-events.ts
  tests/lib/rules/no-await-sync-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

init commit
  docs/rules/no-container.md
  lib/rules/no-container.ts
  tests/lib/rules/PAIRING TODOS.txt
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Get basic container and property name checking working
  PAIRING NOTES.md
  lib/rules/no-container.ts
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Re-enable all tests and fix failures from indentation
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes
  PAIRING NOTES.md
Due: prettier --write

Remove commented code
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Fail on destructuring innerHTML
  lib/rules/no-container.ts
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

add helper function to determine invalid property names
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Clean up code
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Fix TS error
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Remove comments
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

satisfy typescript
  lib/rules/no-container.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Test additions
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Comment out test we don't yet know how to make pass
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

more test cases
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Fix spacing
  tests/lib/rules/no-container.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Remove pairing notes
  PAIRING NOTES.md
Due: prettier --write

Revert docs
  docs/rules/no-container.md
Due: prettier --write

Remove notes
  tests/lib/rules/PAIRING TODOS.txt
Due: none

fix: silence false positive await-async-events reports
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: revert await-async-events to aggressive behaviour
  lib/node-utils/index.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: exclude AND left from promise handled consideration
  lib/node-utils/index.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: contort code to pass test coverage check
  lib/node-utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): false positive reports on awaited expressions evaluating to promise (#890)
  lib/node-utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  767f1be6c15f05d430f662b09fc467b2feeff6ed
Due: none

fix: don't report on setup returned as arrow function body
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
