Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

refactor: reformat everything with prettier
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/await-async-events.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-query-matchers.ts
  lib/utils/types.ts
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-await-sync-queries.test.ts
  tests/lib/rules/no-container.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-manual-cleanup.test.ts
  tests/lib/rules/no-render-in-lifecycle.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-implicit-assert.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: ignore generated files
  .prettierignore
Due: none

chore(deps-dev): upgrade Prettier to v3 (#932)
  .prettierignore
  .prettierrc.js
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/await-async-events.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-query-matchers.ts
  lib/utils/types.ts
  package-lock.json
  package.json
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-await-sync-queries.test.ts
  tests/lib/rules/no-container.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-manual-cleanup.test.ts
  tests/lib/rules/no-render-in-lifecycle.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-implicit-assert.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getSourceCode`
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getFilename`
  lib/rules/consistent-data-testid.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getScope`
  lib/node-utils/index.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: introduce utilities for v9 compatability
  lib/utils/compat.ts
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove unneeded compat utility
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getDeclaredVariables`
  lib/node-utils/index.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-manual-cleanup.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: apply prettier
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: adjust eslint inline disables
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: replace use of deprecated methods (#925)
  lib/node-utils/index.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/prefer-find-by.ts
  lib/utils/compat.ts
  lib/utils/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: update dependencies (#940)
  package-lock.json
  package.json
Due: prettier --write

ci: test against ESLint v9
  .github/workflows/verifications.yml
Due: prettier --write

test: introduce flat compat rule tester
  package-lock.json
  package.json
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: expect no output change with `null`
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: timeout after 3 minutes
  .github/workflows/verifications.yml
Due: prettier --write

test: remove duplicate cases
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: uninstall some packages for v9 to avoid an npm inf. loop bug
  .github/workflows/verifications.yml
Due: prettier --write

Notes added by 'git notes add'
  8607b36cb80fe3fc029efa756f5af5370bf83257
Due: none

ci: uninstall more packages for inf. loop
  .github/workflows/verifications.yml
Due: prettier --write

feat: drop Node 12, 14 & 16 support (#898)
  .github/workflows/ci.yml
  .github/workflows/verifications.yml
  README.md
  docs/migration-guides/v7.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5698432660195a6bce949711a675f2e150411b6a
Due: none

test: be consistent with comments
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: drop ESLint v7 support
  .github/workflows/verifications.yml
  docs/migration-guides/v7.md
  package.json
Due: prettier --write

test: run against ESLint v9 (#926)
  .github/workflows/verifications.yml
  package-lock.json
  package.json
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
  tests/lib/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: allow ESLint v9
  package-lock.json
  package.json
Due: prettier --write

feat: support ESLint v9 (#928)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  657ed01ce25c3d6ce1561fd4fbc2c098bf1ccc19
Due: none

feat: create a fixer
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: fix promise references
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: fix promise wrappers
  lib/rules/await-async-queries.ts
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/await-async-queries.md
Due: prettier --write

feat: refactor loop to map in fixer
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: improve comments readability
  lib/rules/await-async-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-utils): add autofix for direct usage
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-utils): add autofix for references
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(await-async-utils): generate docs
  README.md
  docs/rules/await-async-utils.md
Due: prettier --write

feat: add autofix
  lib/rules/no-await-sync-queries.ts
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
