Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: format md files with prettier
  README.md
  docs/migrating-to-v4-guide.md
Due: prettier --write

docs: update README for v4 (#317)
  README.md
  docs/migrating-to-v4-guide.md
Due: prettier --write

chore: update dependencies
  .github/dependabot.yml
  package.json
Due: none

chore: update dependencies (#319)
  .github/dependabot.yml
  package.json
Due: none

fix(prefer-screen-queries): improve error message
  lib/rules/prefer-screen-queries.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update package keywords
  package.json
Due: none

fix: third round of bug fixes (#320)
  lib/rules/prefer-screen-queries.ts
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update contributing guidelines to v4
  CONTRIBUTING.md
Due: prettier --write

docs: contributing guidelines PR suggestion
  CONTRIBUTING.md
Due: prettier --write

docs: more contributing guidelines PR suggestions
  CONTRIBUTING.md
Due: prettier --write

docs: update contributing guidelines to v4 (#321)
  CONTRIBUTING.md
Due: prettier --write

ci: remove unnecessary quote marks for node versions
  .github/workflows/pipeline.yml
Due: none

Revert "ci: remove unnecessary quote marks for node versions"
  .github/workflows/pipeline.yml
Due: none

chore: revert node 10.22.1 as minimum version
  .github/workflows/pipeline.yml
  docs/migrating-to-v4-guide.md
  package.json
Due: prettier --write

ci: include 12.0 in node versions matrix
  .github/workflows/pipeline.yml
Due: none

ci: wrap matrix values within quotes
  .github/workflows/pipeline.yml
Due: none

ci: run dependabot for npm monthly
  .github/dependabot.yml
Due: none

chore: add stalebot config file
  .github/stale.yml
Due: none

chore: cleanup `pipeline.yml`
  .github/workflows/pipeline.yml
Due: none

chore: cleanup `pipeline.yml` (#326)
  .github/workflows/pipeline.yml
Due: none

docs: update supported rules badges
  README.md
Due: prettier --write

docs: update supported rules badges (#328)
  README.md
Due: prettier --write

refactor(node-utils): extract isNodeOfType functions
  lib/node-utils/index.ts
  lib/node-utils/is-node-of-type.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add extra tests
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(node-utils): make isNodeOfType more type-safe
  lib/node-utils/is-node-of-type.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-node-access): improve current invalid cases asserts
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-node-access): skip Aggressive Reporting
  lib/detect-testing-library-utils.ts
  lib/rules/no-node-access.ts
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: simplify check for strict module imported
  lib/detect-testing-library-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update README with more info around Aggressive Reporting
  README.md
Due: prettier --write

docs: remove unnecessary module.exports syntax
  README.md
Due: prettier --write

fix(no-node-access): skip reporting files without Testing Library import (#338)
  lib/detect-testing-library-utils.ts
  lib/rules/no-node-access.ts
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: improve running plugin on testing files
  README.md
Due: prettier --write

docs: remove wrong option for test files
  README.md
Due: prettier --write

docs: transform bold texts into headings
  README.md
Due: prettier --write

docs: update README with more info around Aggressive Reporting (#339)
  README.md
Due: prettier --write

docs: avoid weird formatting on json comments
  README.md
Due: prettier --write

refactor(node-utils): extract `isNodeOfType` functions (#329)
  lib/node-utils/index.ts
  lib/node-utils/is-node-of-type.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-screen-queries): avoid reporting custom queries
  lib/detect-testing-library-utils.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs(prefer-screen-queries): update examples, exceptions and reading
  docs/rules/prefer-screen-queries.md
Due: prettier --write

fix(prefer-screen-queries): avoid reporting custom queries (#342)
  docs/rules/prefer-screen-queries.md
  lib/detect-testing-library-utils.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  jest --findRelatedTests: any of: *.{js,ts}
