Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

fix: replace uses of `context.getFilename`
  lib/rules/consistent-data-testid.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getSourceCode`
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getScope`
  lib/node-utils/index.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: replace uses of `context.getDeclaredVariables`
  lib/node-utils/index.ts
  lib/rules/no-debugging-utils.ts
  lib/rules/no-manual-cleanup.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove unneeded compat utility
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: apply prettier
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: adjust eslint inline disables
  lib/utils/compat.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: remove duplicate cases
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: test against ESLint v9
  .github/workflows/verifications.yml
Due: prettier --write

test: remove duplicate cases
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-node-access.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
  tests/lib/rules/prefer-query-matchers.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: introduce flat compat rule tester
  package-lock.json
  package.json
  tests/lib/FlatCompatRuleTester.ts
  tests/lib/test-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: force install for now
  .github/workflows/verifications.yml
Due: prettier --write

test: expect no output change with `null`
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: uninstall some packages for v9 to avoid an npm inf. loop bug
  .github/workflows/verifications.yml
Due: prettier --write

ci: timeout after 3 minutes
  .github/workflows/verifications.yml
Due: prettier --write

feat: allow ESLint v9
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to Prettier v3
  package-lock.json
  package.json
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: revert new prettier defaults for now
  .prettierrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: reformat everything with prettier
  .all-contributorsrc
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/create-testing-library-rule/index.ts
  lib/rules/await-async-events.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-render-in-lifecycle.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-query-matchers.ts
  lib/utils/types.ts
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-await-sync-queries.test.ts
  tests/lib/rules/no-container.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tests/lib/rules/no-manual-cleanup.test.ts
  tests/lib/rules/no-render-in-lifecycle.test.ts
  tests/lib/rules/no-unnecessary-act.test.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-implicit-assert.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update `eslint-config-prettier`
  package-lock.json
  package.json
Due: prettier --write

fix(no-manual-cleanup): properly check all `@testing-library` imports
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: add editorconfig file
  .editorconfig
Due: none

fix(fixer): remove space from replaced text in fixer
  lib/rules/no-await-sync-queries.ts
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add a test for the await(...) case
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(prefer-query-by-disappearance): allow get and find query variants when passed in directly
  lib/rules/prefer-query-by-disappearance.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove `bahmutov/npm-install` usage
  .github/workflows/release.yml
  .github/workflows/verifications.yml
Due: prettier --write

fix: generate provenance statements on release
  .github/workflows/release.yml
Due: prettier --write

ci: add tests for Node 20 & 22
  .github/workflows/verifications.yml
Due: prettier --write

ci: use Node 20 for main tests
  .nvmrc
Due: none

chore: add editorconfig file (#935)
  .editorconfig
Due: none

test: remove duplicate cases (#927)
  tests/create-testing-library-rule.test.ts
  tests/lib/rules/no-await-sync-events.test.ts
  tests/lib/rules/no-debugging-utils.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-query-by-disappearance.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove `bahmutov/npm-install` usage (#938)
  .github/workflows/release.yml
  .github/workflows/verifications.yml
Due: prettier --write

ci: use Node 20 for main tests (#942)
  .nvmrc
Due: none

fix(no-manual-cleanup): properly check all `@testing-library` imports (#934)
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: generate provenance statements on release (#939)
  .github/workflows/release.yml
Due: prettier --write

Update .github/workflows/verifications.yml
  .github/workflows/verifications.yml
Due: prettier --write

ci: add tests for Node 20 & 22 (#941)
  .github/workflows/verifications.yml
Due: prettier --write
