Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  8063f8f6a8e1ed0304c6eefc3b00493997952cd1
Due: none

Notes added by 'git notes add'
  e394ce0962616e79d45b9abed8afead7e00f5d13
Due: none

Notes added by 'git notes add'
  7ed3da8ef5b454baea76f8f14465644311366270
Due: none

feat(await-async-query): rename to `await-async-queries`
  README.md
  docs/rules/await-async-queries.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/await-async-queries.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-await-sync-events): add to DOM, Angular & React configs by default
  README.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/react.ts
  lib/rules/no-await-sync-events.ts
  tests/__snapshots__/index.test.ts.snap
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-await-sync-events): add to DOM, Angular & React configs by default (#667)
  README.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/react.ts
  lib/rules/no-await-sync-events.ts
  tests/__snapshots__/index.test.ts.snap
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  afce5ea7888db3070711c39baf470e46a01f99a7
Due: none

feat(await-async-query): rename to `await-async-queries` (#665)
  README.md
  docs/rules/await-async-queries.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/await-async-queries.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/await-async-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c1803df5e35188ed5fcaeaf45ebcea379fa36838
Due: none

fix(await-async-event): pluralize to await-async-events
  README.md
  docs/rules/await-async-events.md
  docs/rules/no-await-sync-events.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/await-async-events.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: initial v6 migration guide
  README.md
  docs/migration-guides/v6.md
Due: prettier --write

docs: initial v6 migration guide (#668)
  README.md
  docs/migration-guides/v6.md
Due: prettier --write

fix(await-async-event): pluralize to await-async-events (#670)
  README.md
  docs/rules/await-async-events.md
  docs/rules/no-await-sync-events.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/await-async-events.ts
  tests/__snapshots__/index.test.ts.snap
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  7238f76c44d026798c8ad7c41700a717a065aef6
Due: none

fix: filtered out queries ending with 'ByType' from await-async-query rule.
  lib/rules/await-async-query.ts
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: re generated rule list
  lib/rules/await-async-query.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): improve fixer
  lib/node-utils/index.ts
  lib/node-utils/is-node-of-type.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): improve fixer (#675)
  lib/node-utils/index.ts
  lib/node-utils/is-node-of-type.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9d5554cb6bd44f3dbb9e370d67b684b54010c704
Due: none

fix: false negatives in variables declarations
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-wait-for-side-effects): false negatives in variables declarations (#677)
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  c3504a7d520e052e7dd45f037e6735c2c71f3bf2
Due: none

fix: change function name to more informative and add JS Doc comment
  lib/rules/no-global-regexp-flag-in-query.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-global-regexp-flag-in-query): detect global regexp in variable declarations
  lib/rules/no-global-regexp-flag-in-query.ts
  tests/lib/rules/no-global-regexp-flag-in-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(docs): mark code keywords with `` and add a period to end of sentence
  docs/rules/prefer-find-by.md
Due: prettier --write

feat(no-global-regexp-flag-in-query): Detect global RegExp in variable declarations (#678)
  lib/rules/no-global-regexp-flag-in-query.ts
  tests/lib/rules/no-global-regexp-flag-in-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  e2ea6877917c949d9787406debda3dc3a56c760d
Due: none

fix(prefer-find-by): autofixer now transfers waitFor options to autofixed
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

run format
  docs/rules/await-async-utils.md
  docs/rules/await-fire-event.md
  lib/node-utils/index.ts
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

add tests for await-async-utils and await-fire-event
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/await-fire-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: support handling promises with jest-extended `.toResolve` & `.toRejects` (#612)
  docs/rules/await-async-query.md
  docs/rules/await-async-utils.md
  docs/rules/await-fire-event.md
  lib/node-utils/index.ts
  tests/lib/rules/await-async-query.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/await-fire-event.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  957646292734c793e6d2f75b14a4ed265365a884
Due: none

chore: add init gitpod config
  .gitpod.yml
Due: prettier --write

chore: add init gitpod config (#682)
  .gitpod.yml
Due: prettier --write

fix(prefer-find-by): Respect waitFor options when autofixing (#679)
  docs/rules/prefer-find-by.md
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  e31fe036fda16fdc5b218d13c38bce2745d33525
Due: none

fix(no-node-access): document more valid test cases
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(no-node-access): remove redundant unit test
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test(no-node-access): add extra valid test case (#684)
  tests/lib/rules/no-node-access.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update dependencies
  package.json
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
