Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  09a9f8cf081c3bbe1cf39861db6de0b458596ee8
Due: none

Notes added by 'git notes add'
  5b68df4c1fc124f14b5e5ee54438142d126d3096
Due: none

chore: normalize repository package.json property
  package.json
Due: prettier --write

chore: update semantic-release to v25.0.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update npm on release workflow
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  67ade2edd3628b98e608a5bfc5fef7052f0e2a6c
Due: none

Remove pnpm from engines
  package.json
Due: prettier --write

fix: remove pnpm from engines (#1117)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7a248d802c15c458256a23c7e251ba5f26547a52
Due: none

feat(prefer-user-event-setup): adding new rule
  docs/rules/prefer-user-event-setup.md
  lib/rules/prefer-user-event-setup.ts
  tests/lib/rules/prefer-user-event-setup.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(prefer-user-event-setup): add prefer-user-event-setup rule
  README.md
Due: prettier --write

fix(prefer-user-event-setup): docs fixes
  docs/rules/prefer-user-event-setup.md
Due: prettier --write

fix(prefer-user-event-setup): fix meta.type
  lib/rules/prefer-user-event-setup.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: update number of rules to 29 for prefer-user-event-setup rule
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove is-ci
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update prepare script
  package.json
Due: prettier --write

chore: remove is-ci (#1126)
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: replace jest with vitest
  jest.config.js
  package.json
  tests/index.test.ts
  tests/lib/utils/is-testing-library-module.test.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update ESLint config
  eslint.config.mjs
  package.json
Due: prettier --write

chore: regenerate lock
  pnpm-lock.yaml
Due: none

chore: upgrade vitest to v4
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove redundant dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: generate static rules and configs
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/index.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/svelte.ts
  lib/configs/vue.ts
  lib/index.ts
  lib/rules/index.ts
  lib/utils/file-import.ts
  lib/utils/index.ts
  tests/index.test.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Revert "chore: upgrade vitest to v4"
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump vitest eslint plugin
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: generate configs and rules statically (#1102)
  eslint.config.mjs
  jest.config.js
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/index.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/svelte.ts
  lib/configs/vue.ts
  lib/index.ts
  lib/rules/index.ts
  lib/utils/file-import.ts
  lib/utils/index.ts
  package.json
  pnpm-lock.yaml
  tests/index.test.ts
  tests/lib/utils/is-testing-library-module.test.ts
  tools/generate-configs/utils.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9b81dde47184d15ad3e2aa2d157fdfd23fd07a84
Due: none

ci: add read permission for contents
  .github/workflows/ci.yml
Due: prettier --write

ci: forward secret to reusable workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/verifications.yml
Due: prettier --write

ci: add read permission for contents (#1127)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/verifications.yml
Due: prettier --write

test: include only lib/ in vitest coverage
  vitest.config.mts
Due: none

test: refine coverage report (#1128)
  vitest.config.mts
Due: none

test: set up vitest ui
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: use OIDC for Codecov auth
  .github/workflows/ci.yml
  .github/workflows/main-coverage.yml
  .github/workflows/verifications.yml
Due: prettier --write

ci: run verifications before publishing
  .github/workflows/main-coverage.yml
  .github/workflows/release.yml
Due: prettier --write

ci: upload tests results to Codecov
  .github/workflows/verifications.yml
Due: prettier --write

ci: increase tests timeout
  .github/workflows/verifications.yml
Due: prettier --write

Revert "ci: increase tests timeout"
  .github/workflows/verifications.yml
Due: prettier --write

ci: upload tests reports if not cancelled
  .github/workflows/verifications.yml
Due: prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
