Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

chore: fix ESLint errors
  lib/node-utils/index.ts
  lib/rules/await-async-query.ts
  lib/rules/await-async-utils.ts
  lib/rules/await-fire-event.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update dependencies (#691)
  lib/node-utils/index.ts
  lib/rules/await-async-query.ts
  lib/rules/await-async-utils.ts
  lib/rules/await-fire-event.ts
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: automate docs with eslint-doc-generator
  README.md
  docs/rules/await-async-query.md
  docs/rules/await-async-utils.md
  docs/rules/await-fire-event.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-query.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-setup.md
  docs/rules/no-unnecessary-act.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-user-event.md
  docs/rules/prefer-wait-for.md
  docs/rules/render-result-naming-convention.md
  package.json
  tools/generate-rules-list/index.ts
  tools/generate-rules-list/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: automate docs with `eslint-doc-generator` (#690)
  README.md
  docs/rules/await-async-query.md
  docs/rules/await-async-utils.md
  docs/rules/await-fire-event.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-await-sync-query.md
  docs/rules/no-container.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-dom-import.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
  docs/rules/no-promise-in-fire-event.md
  docs/rules/no-render-in-setup.md
  docs/rules/no-unnecessary-act.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/no-wait-for-multiple-assertions.md
  docs/rules/no-wait-for-side-effects.md
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  docs/rules/prefer-find-by.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-query-by-disappearance.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-user-event.md
  docs/rules/prefer-wait-for.md
  docs/rules/render-result-naming-convention.md
  package.json
  tools/generate-rules-list/index.ts
  tools/generate-rules-list/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: fix rule links in readme
  README.md
  package.json
Due: prettier --write

docs: fix rule links in README (#693)
  README.md
  package.json
Due: prettier --write

refactor: rework rule docs scripts
  .github/pull_request_template.md
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

test: remove unnecessary config test
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

style: avoid formatting after each gen command
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

Revert "style: avoid formatting after each gen command"
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

refactor: remove node prefix imports
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: remove old snapshot
  tests/__snapshots__/index.test.ts.snap
Due: none

refactor: avoid format after doc gen
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

refactor: rework rule docs scripts (#694)
  .github/pull_request_template.md
  .github/workflows/pipeline.yml
  package.json
  tests/__snapshots__/index.test.ts.snap
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: add rationale to no-render-in-setup
  docs/rules/no-render-in-setup.md
Due: prettier --write

docs(no-render-in-setup): add rationale (#697)
  docs/rules/no-render-in-setup.md
Due: prettier --write

fix(await-async-query): work around false-positives in chained findBy queries
  lib/rules/await-async-query.ts
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: regenerate after merge
  README.md
  docs/rules/await-async-events.md
  docs/rules/no-await-sync-events.md
  docs/rules/no-debugging-utils.md
  docs/rules/no-global-regexp-flag-in-query.md
  docs/rules/no-manual-cleanup.md
  docs/rules/no-node-access.md
Due: prettier --write

refactor: fix lint error
  lib/rules/await-async-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9316c3a9bf6185e63b029d45eb9d8d3d4949b96e
Due: none

chore: remove unnecessary ESLint config
  .eslintrc.json
Due: prettier --write

chore: move ESLint config file to js
  .eslintrc.js
  .eslintrc.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: remove disabled ESLint import rule
  .eslintrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: linting with type information
  .eslintrc.js
  lib/rules/no-await-sync-events.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/utils/file-import.ts
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: apply a custom message to restricted import
  .eslintrc.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor(no-wait-for-empty-callback): remove rule
  README.md
  docs/rules/no-wait-for-empty-callback.md
  lib/configs/angular.ts
  lib/configs/dom.ts
  lib/configs/marko.ts
  lib/configs/react.ts
  lib/configs/vue.ts
  lib/rules/no-wait-for-empty-callback.ts
  tests/index.test.ts
  tests/lib/rules/no-wait-for-empty-callback.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: refine typescript-eslint config (#705)
  .eslintrc.js
  .eslintrc.json
  lib/rules/no-await-sync-events.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/utils/file-import.ts
  tests/index.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove references to unexisting async utils
  README.md
  docs/rules/await-async-utils.md
  docs/rules/prefer-find-by.md
  lib/rules/prefer-find-by.ts
  lib/utils/index.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: fix README div block
  README.md
Due: prettier --write

fix(prefer-find-by): report waitFor only
  lib/rules/prefer-find-by.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove more old wait references
  docs/rules/no-wait-for-snapshot.md
  lib/rules/prefer-find-by.ts
  tests/lib/rules/prefer-find-by.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update v6 migration guide
  docs/migration-guides/v6.md
Due: prettier --write

feat: add support for Node v19
  .github/workflows/pipeline.yml
Due: prettier --write

chore: update author's email
  package.json
Due: prettier --write

chore: update description
  package.json
Due: prettier --write

chore: remove references to test snapshots
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore: adjust eslint docs generator
  .eslint-doc-generatorrc.js
  .github/workflows/pipeline.yml
  CONTRIBUTING.md
  package.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: avoid excluding all-contributors branches
  .github/workflows/pipeline.yml
Due: prettier --write

ci: remove unnecessary string quotes
  .github/workflows/pipeline.yml
Due: prettier --write

fix: avoid reporting react-test-renderer utils as find queries
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  tests/lib/rules/await-async-query.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests
