Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move eslint config to ESM
  eslint.config.js
  tests/eslint-remote-tester.config.cjs
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: move eslint-remote-tester config to ESM
  eslint-remote-tester.config.ts
  package.json
  tests/eslint-remote-tester.config.cjs
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update bundle export fields
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: move lint-staged config to ESM
  lint-staged.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: update type to module
  .prettierrc.mjs
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  tools/generate-configs/utils.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: sort validate commands
  package.json
Due: prettier --write

chore: improve export types
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

ci: simplify verifications matrix
  .github/workflows/verifications.yml
Due: prettier --write

chore: update tsconfig
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

chore: improve types
  src/configs/angular.ts
  src/configs/dom.ts
  src/configs/index.ts
  src/configs/marko.ts
  src/configs/react.ts
  src/configs/svelte.ts
  src/configs/vue.ts
  src/index.ts
  src/rules/index.ts
  src/utils/types.ts
  tests/index.test.ts
  tools/generate-configs/index.ts
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: use fileURLToPath for correct paths
  tools/generate-configs/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  166e37c77ebdb8f6ad394198c641c9e52e7b9f80
Due: none

chore: bump TS to v5.9
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: apply strictness TS options
  src/create-testing-library-rule/detect-testing-library-utils.ts
  src/node-utils/accessors.ts
  src/rules/no-container.ts
  src/rules/no-global-regexp-flag-in-query.ts
  src/rules/no-manual-cleanup.ts
  src/rules/no-promise-in-fire-event.ts
  src/rules/no-wait-for-multiple-assertions.ts
  src/rules/no-wait-for-side-effects.ts
  src/rules/prefer-find-by.ts
  src/rules/prefer-query-by-disappearance.ts
  src/rules/prefer-user-event.ts
  src/utils/resolve-to-testing-library-fn.ts
  tests/rules/prefer-query-matchers.test.ts
  tests/rules/prefer-user-event.test.ts
  tests/test-utils.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: prevent unchecked indexed access (#1132)
  package.json
  pnpm-lock.yaml
  src/create-testing-library-rule/detect-testing-library-utils.ts
  src/node-utils/accessors.ts
  src/rules/no-container.ts
  src/rules/no-global-regexp-flag-in-query.ts
  src/rules/no-manual-cleanup.ts
  src/rules/no-promise-in-fire-event.ts
  src/rules/no-wait-for-multiple-assertions.ts
  src/rules/no-wait-for-side-effects.ts
  src/rules/prefer-find-by.ts
  src/rules/prefer-query-by-disappearance.ts
  src/rules/prefer-user-event.ts
  src/utils/resolve-to-testing-library-fn.ts
  tests/rules/prefer-query-matchers.test.ts
  tests/rules/prefer-user-event.test.ts
  tests/test-utils.ts
  tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  d865ce0e0dcb7c7424075c5d2f2d17471a7a77de
Due: none

ci: fix smoke test workflow (#1134)
  .github/workflows/smoke-test.yml
Due: prettier --write

chore: add copilot instructions (#1135)
  .github/copilot-instructions.md
Due: prettier --write

chore: move renovate config file
  .github/renovate.json5
  renovate.json
Due: prettier --write

chore: add specific rule for pnpm
  .github/renovate.json5
Due: none

chore: custom config
  .github/renovate.json5
Due: none

chore: remove dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore: uninstall semver
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: group typescript-eslint range
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade to v17
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set up eslint-plugin-n
  eslint.config.js
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore(deps): remove unused @eslint/compat
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump pnpm to v10
  package.json
Due: prettier --write

chore: allow builds
  pnpm-workspace.yaml
Due: none

chore: verify deps before run
  pnpm-workspace.yaml
Due: none

chore: upgrade pnpm to v10 (#1160)
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: make ESLint plugin type notation explicit
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: narrow types
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: import package.json dynamically with require
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

chore: use dirname for referencing absolute path
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: import plugin meta version (#1163)
  src/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  d994f0c0339977f2d43b8a61d2bacc10940c39ce
Due: none

chore: use replace for ts-eslint range strategy
  .github/renovate.json5
Due: none

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  jest --findRelatedTests: any of: *.{js,ts}
