Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix",
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}

docs: update docs
  README.md
  docs/rules/no-await-sync-queries.md
Due: prettier --write

feat(no-await-sync-queries): add auto-fix (#1079)
  README.md
  docs/rules/no-await-sync-queries.md
  lib/rules/no-await-sync-queries.ts
  tests/lib/rules/no-await-sync-queries.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  3e903519a1a719fdcd19b975723e95de0517ff88
Due: none

test: specify TestCase as the type argument for map and flatMap
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: enforce strict types in test case mapping (#1085)
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat: create a fixer
  lib/rules/await-async-utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/await-async-utils.md
Due: prettier --write

fix lint
  lib/rules/await-async-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: remove duplicate util
  lib/rules/await-async-events.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix(await-async-events): improve`userEvent.setup()` detection (#1056)
  lib/create-testing-library-rule/detect-testing-library-utils.ts
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  742cd11c0664b7d0e2719b51df3e1fb843184e67
Due: none

feat: implement wrapWithFunctionExpressionFix function
  lib/rules/await-async-queries.ts
  lib/rules/await-async-utils.ts
  lib/utils/wrap-function-expression-fix.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: rename to addAsyncToFunctionFix
  lib/rules/await-async-queries.ts
  lib/rules/await-async-utils.ts
  lib/utils/add-async-fo-function-fix.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests for addAsyncToFunctionFix rule
  tests/lib/utils/add-async-fo-function-fix.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: fix error line number
  tests/lib/utils/add-async-fo-function-fix.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

refactor: fix file name
  lib/rules/await-async-queries.ts
  lib/rules/await-async-utils.ts
  lib/utils/add-async-to-function-fix.ts
  tests/lib/utils/add-async-to-function-fix.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(await-async-utils): add auto-fix (#1086)
  README.md
  docs/rules/await-async-utils.md
  lib/rules/await-async-queries.ts
  lib/rules/await-async-utils.ts
  lib/utils/add-async-to-function-fix.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/utils/add-async-to-function-fix.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  9ba0041c346cf9d7abaec02b0da02d433f44701b
Due: none

fix: declare `.finally(...)` usages as handled in async rules (#1074)
  docs/rules/await-async-queries.md
  docs/rules/await-async-utils.md
  lib/node-utils/index.ts
  tests/lib/rules/await-async-events.test.ts
  tests/lib/rules/await-async-queries.test.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  2d24966b3ab7f0c1dd31ab3663736319c379b655
Due: none

chore: set up eslint-plugin-n
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set up eslint-plugin-eslint-plugin
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add auto-fix for o-wait-for-side-effects
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add output for no-wait-for-side-effects
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update docs
  README.md
  docs/rules/no-wait-for-side-effects.md
Due: prettier --write

fix(await-async-event): prevent adding async/await in forEach loops (#1075)
  lib/rules/await-async-events.ts
  tests/lib/rules/await-async-events.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  54ee4ae36481b53d21fcfea33e1bb009a195a036
Due: none

fix: update parent type in reportImplicitReturnSideEffect function
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-wait-for-multiple-assertions): add partial fix support (#1090)
  README.md
  docs/rules/no-wait-for-side-effects.md
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  bd01e0862f16615629d658e005f808a31fecfdc7
Due: none

feat: add auto-fix for no-wait-for-side-effects
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: add tests
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

fix: remove entire waitFor call when its body becomes empty after moving side effects
  lib/rules/no-wait-for-side-effects.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: remove unnecessary waitFor calls
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

feat(no-wait-for-multiple-assertions): improve autofix (#1091)
  lib/rules/no-wait-for-side-effects.ts
  tests/lib/rules/no-wait-for-side-effects.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

Notes added by 'git notes add'
  95b88d5a72ed9e4f35a9280af7830c016950f884
Due: none

feat: enhance assertion reporting logic
  lib/rules/no-wait-for-multiple-assertions.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

test: update tests
  tests/lib/rules/no-wait-for-multiple-assertions.test.ts
Due: eslint --max-warnings 0 --fix, prettier --write, jest --findRelatedTests

docs: update doc
  docs/rules/no-wait-for-multiple-assertions.md
Due: prettier --write
